@import "tailwindcss";

.bg-auth {
  background-image: image-set(
    url("/assets/bg-login.webp") type("image/webp"),
    url("/assets/bg-login.jpg") type("image/jpeg")
  );
  background-size: cover;
  background-position: center;
}
